# Backend - HandicApp

NODE_ENV=development
HOST=localhost
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=handicapp
DB_USER=postgres
DB_PASSWORD=postgres
DB_DIALECT=postgres
DB_LOGGING=false

# JWT
JWT_SECRET=change_me_min_32_chars_please________________________________
JWT_REFRESH_SECRET=change_me_refresh_min_32_chars_______________________
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:3000
CORS_CREDENTIALS=true

# Front base URL (para links en emails)
APP_WEB_URL=http://localhost:3000

# SMTP (Gmail recomendado con Contraseña de Aplicación)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=handicapp.app@gmail.com
SMTP_PASS=
SMTP_FROM_EMAIL=handicapp.app@gmail.com
SMTP_FROM_NAME=HandicApp
